@model StarSubs.Models.Sub

@{
    ViewBag.Title = "Total";
}

<h2>Total</h2>



    <p>
        @Html.ActionLink("Back to Order", "Index")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Sub)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
